<h1>Usted esta editando a:
  <%= hoteles.nombreHotel %>
</h1>

<form action="Hotel/editarHotel" method="post">


  <input hidden
         class="form-control"
         type="text"
         id="id"
         name="id"
         value="<%= hoteles.id %>">


  <div class="form-group row">
    <label for="nombreHotel" class="col-2 col-form-label">Nombre Hotel</label>
    <div class="col-10">
      <input class="form-control"
             type="text"
             placeholder="Ingrese nombre del Hotel"
             id="nombreHotel"
             name="nombreHotel"
             value="<%= hoteles.nombreHotel %>"

      >
    </div>
  </div>

  <div class="form-group row">
    <label for="direccionHotel" class="col-2 col-form-label">Direccion del Hotel</label>
    <div class="col-10">
      <input class="form-control" type="text"
             placeholder="Ingrese sus Apellidos"
             name="direccionHotel"
             id="direccionHotel"
             value="<%= hoteles.direccionHotel %>"
      >
    </div>
  </div>

  <div class="form-group row">
    <label for="precioEstadia" class="col-2 col-form-label">Precio de la estadia</label>
    <div class="col-10">
      <input class="form-control" type="number" placeholder="Ingrese nuevo precio" id="precioEstadia"
             name="precioEstadia"
             value="<%= hoteles.precioEstadia %>">
    </div>
  </div>

  <button
    class="btn btn-outline-success">Editar</button>


</form>
