<br>
<br>
<h1>Usted esta editando a:
  <%= gastronomia.nombreFood %>
</h1>

<br>
<br>
<br>

<form action="Gastronomia/editarGastronomia" method="post">


  <input hidden
         class="form-control"
         type="text"
         id="id"
         name="id"
         value="<%= gastronomia.id %>">


  <div class="form-group row">
    <label for="nombreFest" class="col-2 col-form-label">Nombre Festividad</label>
    <div class="col-10">
      <input class="form-control"
             type="text"
             placeholder="Ingrese nombre Gastronomia"
             id="nombreFood"
             name="nombreFood"
             value="<%= gastronomia.nombreFood %>"

      >
    </div>
  </div>

  <div class="form-group row">
    <label for="lugarFest" class="col-2 col-form-label">Descripcion Gastronomia</label>
    <div class="col-10">
      <input class="form-control" type="text"
             placeholder="Ingrese la descripcion"
             name="descripcionFood"
             id="descripcionFood"
             value="<%= gastronomia.descripcionFood %>"
      >
    </div>
  </div>

  <div class="form-group row">
    <label for="mesFest" class="col-2 col-form-label">Mes de Festividad</label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Ingrese la url de la imagen" id="imagenFood"
             name="imagenFood"
             value="<%= gastronomia.imagenFood %>">
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
  <button
    class="btn btn-outline-success">Editar</button>
    </div>
    <div class="col-md-4"></div>
  </div>

</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

